/* Navigation */
.left-side-nav {
    font-size: 12px;
    margin-right:10px;
    background: #8080804a;
    border-radius: 6px;
    padding: 3px 5px;
}

/* Elements */
.mark-required {
    color: red;
    font-size: 15px;
}

.embed-code-input {
    font-size: 12px;
    color: rgba(128, 128, 128, 0.75);
}

.access-info {
    font-size: 12px;
    background: #8080804a;
    border-radius: 6px;
    padding: 3px 5px;
}

.table thead th {
    font-size: 12px;
}

.mark-primary {
    font-size: 12px;
    margin-right:10px;
    background: #6dbef24a;
    border-radius: 6px;
    padding: 3px 5px;
}
